<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>samplePassword</key>
	<string>123456asd!</string>
	<key>sampleUsername</key>
	<string>singlesignon</string>
	<key>seed</key>
	<string>test</string>
	<key>applicationId</key>
	<string>000001</string>
	<key>apiVersion</key>
	<string>1.0</string>
	<key>apiUrl</key>
	<string>https://test.campuscardcenter.com/cs/api/</string>
</dict>
</plist>
